<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <h2 class="text-center"><%= @comic["data"]["results"][0]["title"] %></h2>
          <% @comic["data"]["results"][0]["creators"]["items"].each do |creator| %>
            <div class="mt-2 badge badge-pill badge-danger"><%= creator["name"] + " - " + creator["role"] %></div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text"><%= image_tag("#{@comic["data"]["results"][0]["thumbnail"]["path"] + "." + @comic["data"]["results"][0]["thumbnail"]["extension"]}", height: 400, width: 400) %></div>
        </div>
        <div class="card-footer text-muted">
          <% if !@comic["data"]["results"][0]["description"].nil? %>
            <small><%= @comic["data"]["results"][0]["description"].empty? ? "No available description for this character" : simple_format(@comic["data"]["results"][0]["description"]) %></small>
          <% else %>
            <small><%= "No available description for this character" %></small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center mt-4">Characters in <%= @comic["data"]["results"][0]["title"] %></h1>
<div class="container">
  <div class="card-deck">
    <% if @characters %>
      <% @characters["data"]["results"].each do |character| %>
          <div class="col-4 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-body">
                <div id="image-content"><%= image_tag("#{character["thumbnail"]["path"] + "." + character["thumbnail"]["extension"]}", height: 150, width: 150) %></div>
                <p class="card-text"><%= character["name"] %></p>
                <%= link_to "Show Details", character_path(character["id"]), class: "btn btn-danger" %>
              </div>
              <div class="card-footer text-muted">
                <%= character["description"].empty? ? "No available description for this character" : simple_format(truncate(character["description"], length: 80)) %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>