<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <h2 class="text-center"><%= @character["data"]["results"][0]["name"] %></h2>
        </div>
        <div class="card-body">
          <div class="card-text"><%= image_tag("#{@character["data"]["results"][0]["thumbnail"]["path"] + "." + @character["data"]["results"][0]["thumbnail"]["extension"]}", height: 400, width: 400) %></div>
        </div>
        <div class="card-footer text-muted">
          <small><%= @character["data"]["results"][0]["description"].empty? ? "No available description for this character" : simple_format(@character["data"]["results"][0]["description"]) %></small>
        </div>
        </div>
      </div>
  </div>
</div>
<h1 class="text-center mt-4">Comics featuring <%= @character["data"]["results"][0]["name"] %></h1>
<div class="container">
  <div class="card-deck">
    <% if @comics %>
      <%= render "./shared/list_of_comics", comics: @comics %>
    <% end %>
  </div>
</div>


